/* ### Reset ### */
html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* ### BASE ### */
html {
  color: #333;
  background: #f5f5f5;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  position: relative;
}

a {
  color: #444;
}

.container {
  margin: 0 auto;
}

.header {
  color: #fefefe;
  background: #0f0f0f;
}

.header .header__title {
  width: 100%;
  font-weight: 200;
  text-align: center;
}

.body {
  padding: 3rem 0 2rem 0;
}

.footer {
  text-align: center;
  color: #999;
  font-weight: 600;
  font-size: 0.8rem;
}

/* ### LAYOUT ### */
/* Phone layout */
html {
  font-size: 12px;
  line-height: 1.1rem;
}

.container {
  width: 100%;
  padding: 0 1rem;
}

.header {
  padding: 5rem 0;
  box-shadow:         0px 0px 6px 1px rgba(0,0,0,0.6);
  -o-box-shadow:      0px 0px 6px 1px rgba(0,0,0,0.6);
  -ms-box-shadow:     0px 0px 6px 1px rgba(0,0,0,0.6);
  -moz-box-shadow:    0px 0px 6px 1px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0rem 0px 6px 1px rgba(0,0,0,0.6);
}

.header .header__title {
  font-size: 1.8rem;
}

/* Tablet layout */
@media (min-width: 544px) {
  html {
    font-size: 14px;
    line-height: 1.3rem;
  }

  .container {
    width: 480px;
  }
}

/* Desktop layout */
@media (min-width: 992px) {
  html {
    font-size: 16px;
    line-height: 1.5rem;
  }

  .container {
    width: 960px;
  }
}

